__pycache__/videoloop.cpython-39.pyc
__pycache__/videoloop.cpython-38.pyc
__pycache__/poserecognition.cpython-39.pyc
__pycache__/poserecognition.cpython-38.pyc
__pycache__/mediapipedrawing_utils.cpython-39.pyc
__pycache__/arduinoControl.cpython-39.pyc
__pycache__/videoloop.cpython-312.pyc
__pycache__/arduinoControl.cpython-312.pyc
__pycache__/mediapipedrawing_utils.cpython-312.pyc
__pycache__/poserecognition.cpython-310.pyc
__pycache__/poserecognition.cpython-312.pyc
.idea/.gitignore
.conda/Library/bin/libcrypto-3-x64.dll.conda_trash
.idea/misc.xml
.idea/modules.xml
.idea/PoseRecognition.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
dlib-18.17.100-cp35-none-win_amd64.whl
__pycache__/BlitManager.cpython-312.pyc
__pycache__/GraphicsHelper.cpython-312.pyc
